<a href="/show/<%= search.id %>" target="_blank">
  <div class="content_post" style="background-image: url(<%= search.image_url %>);">
    <div class="more">
    </div>
    <div>
      <span class="name">
          <span>Place</span><%= search.location %>
      </span>
    </div>
  </div>
</a>