<!DOCTYPE html>
<html>
  <head>
    <title>Phogs</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
  <header class="header">
    <div class="header__bar row">
      <h1 class="header-url"><a href="/">Phog?</a></h1>
      <!--<h2 class="">back to TOP</h2>-->
    </div>
  </header>

    <%= yield %>

    <footer>
      <p>
        Copyright Yuta Kimura 2016
      </p>
    </footer>
  </body>
</html>
